[2015-12-02 03:58] andrewhamon opened #2 "Links to languages don't work"
Since the languages section is a nested list, the references to individual languages are currently useless. AFAIF only headers can be linked to.

[2015-12-02 13:12] keonkim commented on #2
I think link fixes in #3 and #4 are also a good way to go (giving ids to nested lists) Any idea what we should decide on?

[2015-12-02 13:13] keon opened #5 "Books"
We need lists for books

[2015-12-02 14:21] keonkim commented on #2
I wanted to keep nested lists, so I merged #4 Thanks for the PR!

[2015-12-02 14:21] #2 closed

[2015-12-11 22:11] diasks2 opened #9 "Ruby"
Great resource, thanks for creating this! I noticed that you don't have any Ruby libraries listed. I maintain a list of Ruby NLP libraries that you could link to if you like: https://github.com/diasks2/ruby-nlp

[2015-12-12 02:28] keonkim commented on #9
Wow that is a really solid list!
I just a made link to your repository, since you maintain ruby libraries list much better than us.

[2015-12-12 03:57] #9 closed

[2015-12-12 04:18] diasks2 commented on #9
Thanks!

[2016-06-04 14:29] keon opened #13 "Add Contribution Guidlines"

[2016-06-07 06:03] vs1682 commented on #13
Just copied it from different awesome repos.
Check if you want to add anything else.
We can add that every code related addition should be above blogs and credits

# Contribution Guidelines

Please ensure your pull request adheres to the following guidelines:

- Search previous suggestions before making a new one, as yours may be a duplicate.
- Make an individual pull request for each suggestion.

[2016-06-07 22:02] keonkim opened #15 "unify formats for the articles"
papers should be unified in one format with author names included.

[2016-09-02 07:50] mhbashari opened #25 "Language specific tools or resoures"

[2016-11-10 21:14] zeightnoteight opened #29 "Add Word Forms Github repository"
### [Word Forms](https://github.com/gutfeeling/word_forms): Accurately generate all possible forms of an English word

- Python Library
- Github Link - https://github.com/gutfeeling/word_forms

[2017-01-09 07:02] JanFan opened #31 "Dead Link: Natural Language Processing SFU"
http://www.cs.sfu.ca/~anoop/teaching/CMPT-413-Spring-2014/

[2017-02-10 12:45] keon commented on #31
marked dead

[2017-02-10 12:45] #31 closed

[2017-02-10 15:24] unkn0wnxx opened #36 "Add Deep Natural Language Processing 2017 at University of Oxford."
[Deep Natural Language Processing](https://github.com/oxford-cs-deepnlp-2017/lectures)

[2017-02-12 07:18] #36 closed

[2017-03-05 16:37] adityasriv22 commented on #5
AI: A modern approach,Norvig

[2017-03-20 06:47] guotong1988 opened #43 "What are awesome knowledge graph papers?"
@keon Thank you.

[2017-05-13 04:26] jsroyal commented on #13
@keon I would like to send PR. Also, @vs1682 already mention here very nice points. So taking his input and write in PR_TEMPLATE.md

[2017-05-13 07:54] keon commented on #13
@jsroyal sounds good!

[2017-05-14 18:17] jsroyal commented on #13
@keon I think this issue should be closed now.
Maybe if you want to update the content but prior level it has been done.

[2017-05-14 18:24] jsroyal opened #50 "Update the link of Natural Language Processing professor Mike Collins"
As you mention here the video are not available and I go through the link it's not there so it would be better to update with this [link](http://www.cs.columbia.edu/~mcollins/)

[2017-05-28 16:18] fshabashev opened #51 "fasttext"
I think one should add "fasttext" to list.
It is new library developed by FAIR team together with Thomas Mikolov.
It can do everything word2vec can, but faster. It also provides more features: model compression, supervised classification, character n-grams.

[2017-10-14 01:52] NirantK commented on #51
@keon maybe this can be closed with reference to the commit 853f978deb48704b3f58dbd223357de012b2a40e ?

[2017-10-14 03:46] keon commented on #51
yes sir!

[2017-10-14 03:46] #51 closed

[2017-10-14 14:42] NirantK commented on #25
@keon I see there are language specific sections now. This is an old issue. Would you like to close the same?

[2017-10-14 23:57] keon commented on #25
@NirantK you're right, thanks!

[2017-10-14 23:57] #25 closed

[2017-10-15 00:28] keon opened #70 "Kinda old references. Need to revamp it"
workin on it

[2017-10-15 00:28] #13 closed

[2017-10-15 03:17] jsroyal commented on #13
@keon Thanks!! Looking forward to more PR. :100:

[2017-12-13 10:01] YontiLevin opened #75 "please add nlp dataset section"
some links can be found here
https://github.com/niderhoff/nlp-datasets

[2017-12-26 05:09] NirantK commented on #50
Hey @jsroyal, sorry for the delay in updating the link. We have added the video links in a recent commit here: 171816212094a5155b79a2f731228572df082b5a

@keon, maybe we can close this issue?

[2017-12-26 05:10] NirantK commented on #75
@YontiLevin can you please send a Pull Request with the datasets section?

[2017-12-26 15:13] keon commented on #50
@NirantK sure thanks

[2017-12-26 15:13] #50 closed

[2017-12-26 15:16] keon opened #80 "Add new maintainers?"
I think it is a good idea to add more maintainers so we can keep up to date.
We are also going to polish the list. Please let me know if anyone is interested.

@NirantK - Are you interested?

[2017-12-26 17:00] NirantK commented on #80
Sure, I'd love to help.

Before we move ahead, I am new to FOSS.  What is a good maintainer supposed to do?

[2017-12-26 18:28] YontiLevin commented on #75
done

[2017-12-26 18:28] #75 closed

[2017-12-26 23:19] keon commented on #80
nothing special, you just get a right to merge PR or directly commit to the repo.

[2018-01-03 01:51] NirantK opened #84 "Add awesome-nlp to awesome.re?"
[Awesome.re](https://github.com/sindresorhus/awesome) is a meta-list of awesome repositories.

It has a few [guidelines](https://github.com/sindresorhus/awesome/blob/master/pull_request_template.md) to be included there.
Maybe we can use that as our checklist to improve this. And then raise a PR when we are done?

What do you suggest @keon ?

[2018-01-03 02:17] keon commented on #84
sounds good!

also, for long term...
I wanted to work on a script that allows us to store the lists in some sort of json or list that could automatically be used for parsing, verifying the url, and generating the README.md.

[2018-01-03 02:42] NirantK commented on #84
The script sounds like a good idea:
- make our jobs easier as maintainers
- does it make it more difficult to contribute to README.md then write now?

Keeping in mind that most contributors are contributing directly from their browsers. Maybe we should add that script to a Pull Request hook? Include formatting checks in the script itself - similar to Bandit for code?

[2018-01-03 05:47] NirantK opened #85 "Add Text Summarization papers and code"
Create new category Text Summarization in Techniques
- Add at least 2 relevant papers such as those based on attention
- Add at least 2 relevant code implementations such as ```textsum``` and ```PyTextRank```
- Add at least 1 tutorial and review blog in relevant sections from ```gensim``` and others

[2018-01-03 05:55] NirantK opened #86 "Add license to the repository?"
Do you think we should add a [MIT](https://tldrlegal.com/license/mit-license) or [CC0](https://tldrlegal.com/license/creative-commons-cc0-1.0-universal) license to the repository?

This would
- make it explicit that we (the maintainers) are not liable
- allow developers working for corporations to use the listing here more freely
(not specifying a license makes [corporate legal itchy](https://choo

[2018-01-03 17:41] the-ethan-hunt commented on #80
@keon,I would love to be a maintainer :smiley:

[2018-01-04 01:10] keon commented on #80
@the-ethan-hunt
I think the maintainers should have certain amount of contribution beforehand.
closing the issue since @NirantK accepted the invitation.

[2018-01-04 01:10] #80 closed

[2018-01-04 07:23] NirantK opened #89 "Add new Machine Translation content"
Machine Translation has explored CNNs, made encode-decoder architectures a norm and other changes since the last update. Please add *recent papers, demos, tutorials* and 1-2 line explanations for each link.

If you know of better content, please add to this space.

[2018-01-04 11:48] NirantK commented on #80
Thanks for the invite @keon!

Hey @the-ethan-hunt, why not help us close a few issues and we'd take it from there? We've marked some [beginner friendly issues here](https://github.com/keon/awesome-nlp/labels/good%20first%20issue).

You can get started from within your browser now. Just select any issue, let us know that you are taking it up by working on it and raise a pull request when you are do

[2018-01-04 12:34] the-ethan-hunt commented on #80
Sure! Thanks for helping out @NirantK !

[2018-01-04 12:56] the-ethan-hunt commented on #89
I scoured over this and have found 2 such tutorials: One by Google research(in Python) and one by Prof. Graham Neubig(CMU) in Perl. Should I start by adding them?

[2018-01-04 13:05] NirantK commented on #89
Sure. Add a brief description to the links as well please?

On 4 Jan 2018 6:26 pm, "Dhruv Apte" <notifications@github.com> wrote:

[2018-01-06 12:17] NirantK commented on #89
Thanks for the PR @the-ethan-hunt (#90) Would you like to add a few recent papers, say which use CNN for Machine Translation? There's some work from Facebook AI Research team

[2018-01-07 13:10] the-ethan-hunt commented on #89
@NirantK , sure! Let me do some more research and I will send a Pr in a couple of hours. :smile:

[2018-01-08 00:26] NirantK commented on #86
Hello @keon, just following up to hear from you on this.
You can assign to me if you think we should add CC0, and I'll do it.

[2018-01-08 07:51] keon commented on #86
Sorry for the late reply.
Ive taken a look at the LICENSE templates, but github only seems to support MIT.
It'd be nice if you could add CC0

[2018-01-08 23:45] NirantK commented on #86
Added License in 5cb5c1e308b0645abc5c2e6388c460822527579b

[2018-01-08 23:45] #86 closed

[2018-01-08 23:46] NirantK commented on #85
Thanks for the good work @the-ethan-hunt !

Thanks to you, we now cover an important topic in `awesome-nlp`!

[2018-01-08 23:46] #85 closed

[2018-01-08 23:48] NirantK commented on #89
Machine Translation section is revised and updated. Thanks to the efforts of @the-ethan-hunt !

[2018-01-08 23:48] #89 closed

[2018-01-08 23:49] NirantK commented on #70
Closing this, opening section/topic/technique specific issues and marking them for revamp instead.
Sections revamped and revised so far:

1. Text Summarization
2. Text Embeddings
3. Machine Translation
4. Tutorials (merged blogs etc. here)
5. Videos and MOOCs

[2018-01-08 23:49] #70 closed

[2018-01-09 07:24] NirantK opened #94 "Add banner image"
We need to find and add a banner image similar to [awesome-qauntified-self](https://github.com/woop/awesome-quantified-self) or [awesome-electron](https://github.com/sindresorhus/awesome-electron)

This is towards the broader goal of making this list more polished. And raise a PR to awesome.re

Requests to anyone sending a PR:
* Either fullwidth or placed at the top-right of the readme. [Example h

[2018-01-09 07:30] NirantK opened #95 "Add Github topics"
Hello @keon,

[Github topics](https://help.github.com/articles/about-topics) allow Github beginners to "discover" us. It also makes it possible for us to feature in the [Discover Dashboard](https://github.com/dashboard/discover).

Since only **owners** can add Github topics, can you please add some topics? Here are a few suggestions:
1. `awesome-list`
2. `awesome`
3. `natural-language-processing`

[2018-01-09 07:37] NirantK opened #96 "Clean Up and Update Single Exchange Dialogs"
The `Single Exchange Dialogs` section is ambiguous, too broad and out of date. Here is how you can help us improve this:

1. Removing links which you think do not fit in the section. Don't worry about damaging this repository, we can have a discussion on the PR you raise.
2. Consider adding 2-3 code examples and datasets
3. Consider adding 2-3 examples from slot filling (sequence mining for text i

[2018-01-09 07:42] NirantK opened #97 "Write a custom awesome-linter"
Standardize all links into some schematic/syntax. Here are few suggestions:

- The link and description are separated by a dash.
Example:  `[AVA](…) - JavaScript test runner`
- Section description starts with an uppercase character and ends with a period.
- Drop all the A / An prefixes in the descriptions. Don't begin sentences with `This`, `here` or `that`
- Consistent and correct naming. For exa

[2018-01-09 08:00] keon commented on #95
Done! thanks for the suggestion.
Feel free to add more if you have more ideas.

[2018-01-09 08:00] #95 closed

[2018-01-09 08:30] NirantK opened #98 "Create Asian-language specific sections"
To become the go-to resource, we should be able to curate good tools and datasets in at least the following languages (in addition to English):

- [x] Chinese
- [ ] Korean
- [ ] Japanese

Of course, we are willing to accept PRs from _all_ other languages.

Please feel free to raise a PR or simply comment on this issue itself and we will add it on your behalf.

@keon

1. Thoughts? Is this a good di

[2018-01-09 08:37] NirantK commented on #84
@keon just following up, do you have any more inputs on what we want from the `json2md` (json to markdown) script?

[2018-01-09 12:48] the-ethan-hunt commented on #98
A short search for NLP Chinese section landed me in these places:
- A CNN for chinese text classifications in TensorFlow
- Using deep learning for Chinese information extraction
- Recognizers by Microsoft for Chinese( currently developing Korean and Japanese)

For Korean:
- A R package for Korean NLP; koNLP(unmentioned in this awesome list; koNLPy is mentioned already)
- A whole new list of corpor

[2018-01-09 12:54] NirantK commented on #98
Thanks!

You can start either by adding a Non English Subheading in Libraries and
then for each language.

We might change that to keep the list as flat as possible with time.

Feel free to start with either Chinese or Korean. Please do remember to
remove/move content already in Python/R lists to avoid duplicates.

Thanks again! 👍

On 9 Jan 2018 6:18 pm, "Dhruv Apte" <notifications@github.com> wro

[2018-01-10 02:03] NirantK commented on #97
I found [awesome-lint](https://github.com/sindresorhus/awesome-lint) from the creator of awesome.re for creating and maintaining awesome lists and roughly the same recommendations.

Cc: @the-ethan-hunt want to help us setup Travis with this? Good excuse to pick up how CI configs work.

[2018-01-10 02:08] NirantK opened #101 "Setup a static auto-generated website"
We can set up a website at something like www.keon.github.io/awesome-nlp

**Reference Demo**: www.nirantk.github.io/awesome-project-ideas
which auto-updates from the Github repository at https://github.com/NirantK/awesome-project-ideas

The website would automatically pick up content and get up updated from the Markdown on our master/README.md.

This should make it easier for search engines to ran

[2018-01-10 12:34] the-ethan-hunt commented on #97
@NirantK , sure! But I am a little beginner in CI configs. How may I start?

[2018-01-11 02:20] NirantK commented on #97
Since we are leaning towards Travis, start here:
https://docs.travis-ci.com/user/getting-started/
This is simple enough to understand.

The basic ideas are as follows:

   1. CI is basically a list of scripts which are run on certain triggers
   (such as pull request)
   2. The config file specifies what environment, scripts, setup etc and in
   what order do you want to setup. Config files are us

[2018-01-11 02:21] NirantK commented on #97
As a risk-free way to get your hands dirty, I suggest setting up CI on your
fork of awesome-nlp first. They make a small edit in a different branch
from master.
Then, raise a merge request from your `newbranch` to `master`. This should
trigger a detailed Travis report.

Get to this point and expose the report to everyone on Github who can see
that PR to your master. At that point, simply mention t

[2018-01-11 16:32] the-ethan-hunt commented on #97
@NirantK , I tried but the CI seems to fail everytime. See [here](https://github.com/the-ethan-hunt/awesome-nlp/pull/2)

[2018-01-12 01:54] NirantK commented on #97
​​
The issue seems to be syntactic and in the configuration file.

Please check this line:

The command "rvm use -2.2 --install --binary --fuzzy" failed and exited
with 1 during .

The command line option `rvm` does not recognise -2.2 as a flag. Maybe it's
supposed to be
Maybe it's supposed to be only `2.2` and not `-2.2`?

Also, refer https://github.com/travis-ci/travis-ci/issues/7077
It seems li

[2018-01-12 16:03] the-ethan-hunt commented on #97
@NirantK , I did what you suggested and changed it to the awesome lint. There are still issues which I am not able to understand :sweat_smile: . See [here](https://github.com/the-ethan-hunt/awesome-nlp/pull/3)

[2018-01-12 16:06] the-ethan-hunt commented on #97
@NirantK , I have done what you suggested and was stuck up again. See [here](https://github.com/the-ethan-hunt/awesome-nlp/pull/3). I have changed it to awesome lint

[2018-01-12 16:30] NirantK commented on #97
I checked this
<https://travis-ci.org/the-ethan-hunt/awesome-nlp/builds/328173221?utm_source=github_status&utm_medium=notification>
and
this is ready to go! Good job!

This is the expected output from a CI tool. A CI tool runs a pre-determined
set of scripts (in our case the `awesome-lint`) against our code or README.
These scripts give us feedback on what we can do better, possible errors or
bad

[2018-01-13 12:15] the-ethan-hunt commented on #97
@NirantK Yes, I saw the same thing but I could not understand it :sweat_smile: . You explained me in a really good way

[2018-01-14 15:36] NirantK commented on #97
Hey @the-ethan-hunt, can you please send a PR with the travis yml file (which is now tested at your own fork)?

[2018-01-14 17:22] the-ethan-hunt commented on #97
@NirantK , is it fine if I send by tomorrow morning? :sweat_smile:

[2018-01-14 17:23] NirantK commented on #97
Yeah, take your time. I just left a reminder as I really appreciate the
help :)

Thanks!

On 14 January 2018 at 22:52, Dhruv Apte <notifications@github.com> wrote:

[2018-01-15 10:06] NirantK commented on #98
@the-ethan-hunt thanks for creating the Korean section for us. Would you like to go ahead and create more for Chinese?

[2018-01-16 05:55] anu0012 commented on #96
Hey @NirantK , in code examples can I add how one can use CountVectorizer and Tf-idfVectorizer? And how pre-trained vectors can be used in NLP?

[2018-01-16 05:58] NirantK commented on #96
Hey @anu0012 , if the vectorization methods specific to Dialogs and chatbots - feel free to add them to that section. I guess they are not.

If you are asking if you can add them in general, consider adding them to the tutorial section - if these are not already covered.

[2018-01-16 08:11] anu0012 commented on #96
https://github.com/anu0012/Predict_the_happiness_challenge/blob/master/notebook.ipynb

In this notebook, I have used Tf-IDF Vectorizer. I used several concepts like text-cleaning, lemmatization, stemming etc. in this script. Can I add this?

[2018-01-16 09:03] NirantK commented on #96
No, that does not meet our requirements. Please refer the [tutorials section](https://github.com/keon/awesome-nlp#tutorials) to get an estimate of the quality needed to be included here.

[2018-01-16 14:54] the-ethan-hunt commented on #98
@NirantK  I searched for Chinese but found very very few. Almost all the libraries have been mentioned in the list previously and not much has changed since I posted this comment:
- A CNN for chinese text classifications in TensorFlow
- Using deep learning for Chinese information extraction
- Recognizers by Microsoft for Chinese( currently developing Korean and Japanese)

Do you want me to get goi

[2018-01-16 15:01] the-ethan-hunt commented on #97
Shall we close this issue now? :sweat_smile:

[2018-01-17 00:44] NirantK commented on #97
.@the-ethan-hunt we cannot close this just yet, because integration with Travis CI still remains. As @keon is the only owner, only s/he can configure it such that each PR triggers the CI run.

[2018-01-17 00:51] NirantK commented on #98
Thanks for the update @the-ethan-hunt

Our present coverage of Chinese-NLP tools is not exhaustive, we need to improve that soon. I'll look into it.

Consider Japanese or frankly, any other open issue?

I'd be grateful for any help on #96 if you are looking at open issues. If nothing else, remove content that doesn't make sense and re-format the rest as per `awesome-lint` expectations.

[2018-01-17 16:35] the-ethan-hunt commented on #96
@NirantK, I first checked the links here.
1) the RNNLM toolkit link is broken.
2) The other papers have working links
New stuff worth adding
- [SPMF](http://www.philippe-fournier-viger.com/spmf/) , a Java library for pattern mining
- A [Sequential pattern mining](http://data-mining.philippe-fournier-viger.com/introduction-sequential-pattern-mining/) tutorial and a 'hands-on' [thingy](http://data-m

[2018-01-17 16:38] the-ethan-hunt opened #104 "Add CNN for text classification in TensorFlow"
This is a blogpost and code from DennyBritz's [project](https://github.com/dennybritz/cnn-text-classification-tf). Should I add it?

[2018-01-17 16:46] NirantK commented on #96
Thanks for looking into this!

Single Exchange Dialogs are not traditional Sequence Mining Problems. The
traditional Sequence Mining problems include techniques to answer questions
like if a customer buys a car X, will he buy an insurance within first 2
weeks, 2 months? And at what price point?

So the first 2 new links are not relevant to NLP.

---

Please open broken RNNLM toolkit as a separate

[2018-01-17 16:53] the-ethan-hunt commented on #96
I understand. :smile: . I mistook it for something. No problem, I will open up the needed issue and look more in the DialogCI and ubuntu corpus thing

[2018-01-17 16:55] the-ethan-hunt opened #105 "Broken RNNLM toolkit link"
The toolkit source code link is broken

[2018-01-17 18:11] anu0012 commented on #96
https://www.tidytextmining.com

I think this can be added in reading section. What do you think @NirantK ?

[2018-01-18 00:22] NirantK commented on #104
We don't have a right section for this kind of work. Maybe create a new *Text Classification* section and add there along with more relevant work?

[2018-01-18 00:31] NirantK commented on #105
Fixed in 41a9568 . Thanks for catching this @the-ethan-hunt !

[2018-01-18 00:31] #105 closed

[2018-01-18 00:36] NirantK commented on #96
@anu0012 good find. Since this is an entire book and not a one-off tutorial, let's create a new section under tutorials **Books** and add there.

This becomes our excuse to make some progress on #5 as well.

[2018-01-18 00:39] NirantK commented on #96
Thank you @the-ethan-hunt.

I have fixed the broken link and closed #105.

As a quick note, [Dialogflow](https://dialogflow.com) is a tool for making Human-Computer Interaction systems (or HCI). In layman words, it is a tool for making chatbots.

[2018-01-18 05:12] NirantK commented on #104
Few ideas to lookup around text classification:
1. VD-CNN work
2. fastText Supervised work
3. RNN/LSTM work for text classification, like [this one](https://pdfs.semanticscholar.org/93eb/7d6592290e0b0fa6ee1cde7cb08d2f4aceb6.pdf)- but please look for something better as well?
- Include some tutorials on this please if possible?

Any other crazy ideas such as [Zero Short Learning for Text Classifica

[2018-01-18 05:31] #5 closed

[2018-01-18 09:47] the-ethan-hunt commented on #104
@NirantK , I would like to work on this but I will be traveling and might not be quick in the PR.

[2018-01-18 10:23] NirantK commented on #104
Sure, @the-ethan-hunt take your time. I will be working on #96 when I have some time.

[2018-02-04 06:20] NirantK commented on #104
Hello @the-ethan-hunt, please close this issue if you think you have added all that you wanted to add. And thanks for the PR!

[2018-02-04 06:22] the-ethan-hunt commented on #104
Alright! :smile:

[2018-02-04 06:22] #104 closed

[2018-02-04 06:40] NirantK commented on #96
Hey @the-ethan-hunt, do consider continue contributing to awesome-nlp. Take a look at this issue if you'd like :)

[2018-02-04 07:06] the-ethan-hunt commented on #96
Sure @NirantK ! But is there any other issue I might possibly work on? :sweat_smile:

[2018-02-04 07:09] NirantK commented on #96
Sure @the-ethan-hunt.

Thanks for adding Korean from #98 but did not make enough progress on Chinese, Japanese or any European languages for that matter. It'd be awesome if we'd take that issue to its due conclusion.

It saves a lot of time for the community to have all of the best tools for a particular language in one place.

[2018-02-04 09:40] the-ethan-hunt commented on #98
Following this up from the issue #96 , I have found a list of NLP resources for:
- Arabic
- Chinese
- Spanish(This list is mentioned in the original awesome list)

Should I add each of them in individual PRs?

Secondly just a question: I now do have a certain amount of contribution too. (See @keon 's comment at #80 ). Does this make me eligible for a collaborator? :sweat_smile:

[2018-02-04 10:38] NirantK commented on #98
I'd suggest a single PR with additions for all languages. You can keep 3 different commits and I'll not squash them so that it's easy to revisit when the changes were made.

I'll defer that to @keon, I am still new and frequently wait to hear from him/her on major changes like this: https://github.com/keon/awesome-nlp/pull/110 where I've revamped the Python section heavily

[2018-02-08 06:03] NirantK commented on #98
Just logging some major progress by @the-ethan-hunt in https://github.com/keon/awesome-nlp/pull/111 where he added Chinese, Arabic and Spanish tools and corpora.

TODO:
- Spanish Tools, preferably Python/PyTorch/TF
- More Japanese tools and corpora

[2018-02-08 06:18] NirantK opened #112 "Add @the-ethan-hunt as collaborator?"
Hello @keon,

Just wanted to check if we could add @the-ethan-hunt as a collaborator?

It will allow faster contributions.

He has made ample contributions imho, refer [author contributions](https://github.com/keon/awesome-nlp/commits?author=the-ethan-hunt)

[2018-02-08 06:33] the-ethan-hunt commented on #112
@NirantK , I am already a contributor. ( Please see my comments on various issues; I have a contributor tag) 😅 . Maybe you meant a collaborator?

[2018-02-08 06:33] the-ethan-hunt commented on #112
@NirantK , I am already a contributor. ( Please see my comments on various issues; I have a contributor tag) 😅 . Maybe you meant a collaborator?

[2018-02-11 09:26] NirantK opened #113 "Add more languages corpora, tools and research"
Indic
- [x] Hindi - To be done later
- [ ] Gujarati - To be done later
- [ ] Tamil
- [ ] Telegu
- [ ] Bengali

Asian
- [ ] Chinese
- [ ] Korean
- [ ] Japanese

We should be able to add content regarding Indian/Indic languages as well, keeping in mind the growth of India Stack and need for Indic tools.

[2018-02-11 09:27] NirantK commented on #113
I will be working on this issue for a brief duration.

I'd love to assist you @the-ethan-hunt if you are up to take the lead on this.

[2018-02-11 12:38] the-ethan-hunt commented on #113
@NirantK , I would be happy to be assisted by you! But the pond is too large and the fish too small. :sweat_smile:

[2018-02-11 12:48] NirantK commented on #113
Let's start small, let's get Hindi rolling with some work on datasets and
pre trained models. What do you think?

On 11 Feb 2018 6:08 pm, "Dhruv Apte" <notifications@github.com> wrote:

[2018-02-11 12:50] the-ethan-hunt commented on #113
You are right!

[2018-02-11 12:57] the-ethan-hunt commented on #113
@NirantK , a simple GitHub search is leading nowhere. Any leads to start this? :sweat_smile:

[2018-02-11 13:01] NirantK commented on #113
Go old school. Search Google scholar for work by keywords like Hindi
language parsing, modeling etc.

Skip everything which says translation. That's often lazy work.

On 11 Feb 2018 6:27 pm, "Dhruv Apte" <notifications@github.com> wrote:

[2018-02-12 12:51] the-ethan-hunt commented on #113
@NirantK , I went old school and discovered two good papers worth to be mentioned in this list:
- A POS tagger and chunker system for Hindi language using Maximum Entropy Markov Model. [Here](https://www.researchgate.net/profile/Uma_Sawant/publication/241211496_Hindi_Part-of-Speech_Tagging_and_Chunking_A_Maximum_Entropy_Approach/links/571255cb08aeff315ba0d302.pdf) is the paper
- A lightweight stem

[2018-02-13 05:59] NirantK commented on #113
Welcome @arpita.batra to the thread. She did her thesis on Hindi Text Processing. Some of the cool stuff she mentioned:

- English Hindi Parallel Corpus http://www.cfilt.iitb.ac.in/iitb_parallel/
- Hindi Wordnet http://www.cfilt.iitb.ac.in/wordnet/webhwn/
- Sanskrit Mini Corpora from JNU: http://sanskrit.jnu.ac.in/corpora/tagset.jsp
- Indo Wordnet, no download option, but supports Gujarati and oth

[2018-02-13 06:24] the-ethan-hunt commented on #113
@NirantK , sure!
Thanks for the stuff Arpita! And welcome to `awesome-nlp`! :smile:

[2018-02-14 04:10] NirantK commented on #96
Hey @anu0012, are you still interested in working on this? We could really appreciate a hand here :)

[2018-02-14 15:54] anu0012 commented on #96
Sure @NirantK. In the second point which you mentioned what type of code examples and dataset can be added?

[2018-02-15 05:57] arpitabatra commented on #113
POS tagging related papers.
- Morphological Richness Offsets Resource Demand- Experiences in Constructing a POS Tagger for Hindi
[link](https://dl.acm.org/citation.cfm?id=1273173)
- Building Feature Rich POS Tagger for Morphologically Rich Languages: Experiences in Hindi
[link](https://www.researchgate.net/profile/Uma_Sawant/publication/250797503_Building_Feature_Rich_POS_Tagger_for_Morphologicall

[2018-02-15 10:19] NirantK commented on #96
@anu0012 Chatbots, virtual assistants and any other popular form of conversational interfaces is a good starting point.

E.g. there is some work on chatbots from Microsoft and Facebook both, check for what datasets they've used and if we can mention them here. Similarly, there is some work on intent detection etc, maybe look if that is relevant?

If at the end of all of this search, we are still u

[2018-02-15 10:24] NirantK commented on #113
Sure @arpitabatra, that's a good insight. We should definitely look into those. Please do help us around that.

Sidenote: If there are any glaring holes in Hindi Text Processing, please mention them as well, they can become research avenues for people after us. We can note and detail those challenges in a separate repository/markdown file as well.

@the-ethan-hunt, I think we both can focus on Guj

[2018-02-15 12:52] the-ethan-hunt commented on #112
Pinging @keon for this. :sweat_smile:

[2018-02-15 12:54] the-ethan-hunt commented on #113
@NirantK , yes I agree with you. And while tinkering around, I found [this](http://universaldependencies.org/). There are huge treebanks of several languages(both Indian and foreign).
Should I make a PR for this?

[2018-02-15 13:29] NirantK commented on #113
Hey @the-ethan-hunt That's a good find. Let's link to [Hindi specific work](http://universaldependencies.org/treebanks/hi-comparison.html) for now.

May be we need to look into more tooling, datasets and academic work beyond treebanks, POS taggers and actually compile the best from what is out there?

If I was starting looking into Hindi NLP, the above list of work is not even 20-30% of what I'd n

[2018-02-15 21:36] keon commented on #112
Sorry for the delay :(
@the-ethan-hunt has been contributing a lot lately.
Thanks, and I invited you as the collaborator.

[2018-02-15 21:36] #112 closed

[2018-02-16 02:53] the-ethan-hunt commented on #113
@NirantK , there is also [this](http://ltrc.iiit.ac.in/treebank_H2014/) treebank prepared by several American universities. The thing here is, that both the mentioned treebanks are annotated ones; this would largely help linguistics experts and NLP scientists to stop using their time annotating their corpora.

[2018-02-16 03:06] NirantK commented on #112
Welcome @the-ethan-hunt !

[2018-02-16 03:07] NirantK commented on #113
That is already in the list from @arpitabatra :)

[2018-02-16 05:04] the-ethan-hunt commented on #112
Thank you for the warm welcome @NirantK ! Looking to contribute more to awesome-nlp :tada:

[2018-02-17 06:28] the-ethan-hunt commented on #113
@NirantK , any points we can start working? Like the Universal Dependencies thing? :smile:

[2018-02-17 07:20] NirantK commented on #113
@the-ethan-hunt
Why we need data to work in NLP?

- Dictionaries and WordNets are useful for syntactic tasks
- Large text corpus is useful for lot of tasks such as text classification, text embeddings, and so on

Then, in terms of data, we need the following:

- [ ] Dictionaries e.g. Gujarati to English and vice versa
- [ ] Large News corpus similar to CNN or DailyMail ones

I hope that this helps

[2018-02-17 07:22] NirantK commented on #113
Hey @arpitabatra @the-ethan-hunt, please go ahead and raise one PR for Hindi datasets (excluding the work on POS, Stemming etc) as soon as you have sometime?

The work isn't quite sufficient to get started in terms of tools, but I think we should share the datasets atleast as we've done for Spanish.

[2018-02-17 07:34] NirantK opened #114 "Add Gujarati Resources"
Here is the academic work I could find:

1. [Clustering Algorithm for Gujarati words, 2012](https://arxiv.org/ftp/arxiv/papers/1307/1307.5393.pdf)
2. [Gujarati-Hindi Machine Translation, 2013](https://arxiv.org/ftp/arxiv/papers/1307/1307.3310.pdf)
3. [Lightweight Stemmer for Gujarati, 2013](https://arxiv.org/ftp/arxiv/papers/1210/1210.5486.pdf)

None of the above work is inspiring but this is what

[2018-02-17 08:07] NirantK commented on #114
List of Newspapers:
http://www.gujaratilexicon.com/newspapers/

Had no luck finding ready-made text corpus. Might consider making one soon.

[2018-02-17 09:24] the-ethan-hunt commented on #114
@NirantK , since awesome-nlp is a curated list of the best resources, is it absolutely necessary to include these? Just a question. :sweat_smile:

[2018-02-17 15:01] NirantK commented on #114
It is not. We can choose to decide that this is not up to the mark.

But to make that decision, we at least had to take a look, so I went and did that.

[2018-02-25 09:19] the-ethan-hunt opened #116 "Channel for chat"
I would like to propose a channel like Slack or Gitter for chat for the following reasons:
- Issue discussion can be done more easily
- Enhancement suggestions can be discussed more openly

Would like to hear about it from other maintainers- @keon, @outpark   and @NirantK

[2018-02-25 09:22] NirantK commented on #116
+1 to the idea

I am open to Gitter, but it's tough to keep track of the discussion there
as well.

Maybe avoid Slack as it gets Spammy really quickly?

On 25 February 2018 at 14:49, Dhruv Apte <notifications@github.com> wrote:

[2018-02-25 09:24] the-ethan-hunt commented on #116
The reason I would like a communication channel is instead of commenting on the issues themselves, they can be more openly discussed on Gitter. Cool with Gitter, BTW

[2018-03-02 17:19] the-ethan-hunt opened #118 "Thai NLP section"
I found a whole section for Thai resources in NLP. Here's the [link](https://github.com/kobkrit/nlp_thai_resources)
@NirantK shall I work on it and open a PR?

[2018-03-02 17:21] NirantK commented on #118
Yes, @the-ethan-hunt please go ahead. The link looks good. Great find!

Mention this issue in your PR, please?

[2018-03-02 19:30] NirantK commented on #114
Choosing not to add above resources as they are not of sufficient quality. Marking the issue as closed, though contributions are welcome :)

Cc: @the-ethan-hunt

[2018-03-02 19:30] #114 closed

[2018-03-02 19:34] NirantK commented on #116
Hello,

Gitter with the handle awesome-nlp is [live on this link](https://gitter.im/awesome-nlp/Lobby?utm_source=share-link&utm_medium=link&utm_campaign=share-link)

 @the-ethan-hunt: Over to you from here. Please close this issue whenever possible :)

[2018-03-03 05:15] the-ethan-hunt commented on #116
Closing this issue. :)

[2018-03-03 05:15] #116 closed

[2018-03-05 03:58] #118 closed

[2018-03-05 04:13] NirantK commented on #84
@the-ethan-hunt would you like to take lead on this and guide us on what we need to get done to add awesome-nlp to awesome.re?

[2018-03-05 16:49] the-ethan-hunt commented on #84
@NirantK , I find that awesome-nlp has all the required stuff to be included in the awesome.re list. Should we pull a request? Or maybe @keon should(He is the original maintainer of the project :smile: )?

[2018-03-05 16:52] NirantK commented on #84
Let's not wait for @keon. Please raise a PR there. Please double check that we are visible in a separate section.

Preferably not absorbed under wider and less maintained Speech and Natural Language Processing sections ;)

I'd like for people to find us as easily as possible.

[2018-03-05 16:56] the-ethan-hunt commented on #84
We might be lagging here. any suggestions on how to proceed on this? :sweat_smile:

[2018-03-05 17:00] NirantK commented on #84
Hmm, I had looked at a few examples back in January. We'll probably start with a cover image as in #94 and then just ask the awesome.re maintainer for advice.

Adding section specific images would ruin the repo organization and make it longer than it already is.

[2018-03-05 17:01] the-ethan-hunt commented on #84
How about pulling a request **here** about the cover image ideas you had and then we can decide the appropriate image?

[2018-03-05 17:07] NirantK commented on #84
Good idea, I will raise a PR for it.

Since this is going to take some time from my end. Anything else other than that we need doing?

[2018-03-05 17:10] the-ethan-hunt commented on #84
Nope,not at all
Secondly, @keon raised this issue [here](https://github.com/sindresorhus/awesome/issues/677)
The maintainer has asked about the status of our list(a year ago). Is it wise to reply back now with an apology? :smile:

[2018-03-05 17:22] NirantK commented on #84
Thanks for bringing that to notice. I somehow missed that completely.

Sure, please go ahead and tell @sindresorhus that we are helping keon maintain this.

And we would like to include the list as we've updated (and expanded) it significantly over last 4-6 months.

[2018-03-05 17:30] the-ethan-hunt commented on #84
Done! All we need to do is wait for his comment while we plan out a cover image.

[2018-03-05 17:36] NirantK commented on #84
Sounds good. Thanks!

On 5 Mar 2018 11:00 pm, "Dhruv Apte" <notifications@github.com> wrote:

[2018-03-11 09:26] the-ethan-hunt opened #123 "NLP Hebrew Section"
I found a huge collection for NLP resources in Hebrew at [here](https://github.com/NLPH/NLPH_Resources) and [here](https://github.com/iddoberger/awesome-hebrew-nlp).

@NirantK , should I submit a PR for the section?

[2018-03-11 09:30] NirantK commented on #123
@the-ethan-hunt please commit the NLPH link directly to master with an appropriate commit message.

I am not confident about the links at awesome-hebrew-nlp. I see some overlap of that with NLPH. Maybe we can wait for it mature and then include it here?

[2018-03-11 10:43] the-ethan-hunt commented on #123
Seems alright @NirantK . How about we wait for it to be mature and then work out this section?

[2018-03-11 15:45] NirantK commented on #123
Let's add NLPH here *now* and encourage both authors that we'd like them to talk and avoid overlaps.

Please don't create a separate Hebrew section itself *now*, just add it in other languages section with a good description.

[2018-03-12 05:02] NirantK commented on #84
@the-ethan-hunt please follow up?

[2018-03-12 17:18] the-ethan-hunt commented on #123
@NirantK , seems cool to me.

[2018-03-12 17:19] the-ethan-hunt commented on #84
@NirantK , @keon created a new issue here, [see](https://github.com/sindresorhus/awesome/issues/1236). We are still waiting for a response from the maintainers of the `awesome.re` project

[2018-04-08 05:06] the-ethan-hunt commented on #123
Closing this issue now

[2018-04-08 05:06] #123 closed

[2018-04-08 05:08] the-ethan-hunt commented on #94
@NirantK ,any leads on this?

[2018-04-10 07:36] NirantK commented on #94
Sorry, not yet. I am quite occupied with other projects such as hindi2vec
at this moment.

On 8 April 2018 at 10:38, Dhruv Apte <notifications@github.com> wrote:

[2018-04-10 08:59] the-ethan-hunt opened #127 "Tensorflow and Torch implementations"
We need to add Tensorflow and Torch implementations of various models.
P.S. As suggested by Sebastian Ruder in his [tweet](https://twitter.com/seb_ruder/status/983624087112167425).

I will be working on this, but first-time contributors are welcome to contribute too!

[2018-04-10 12:49] keon commented on #97
@NirantK sure, I'll work on it today

[2018-04-10 12:53] keon commented on #97
#128

[2018-04-10 14:07] NirantK commented on #97
Thanks @keon @the-ethan-hunt for the good work.

This should now help us follow a certain discipline and style in adding links. Closing this issue now as the linter is up and running now :)

[2018-04-10 14:07] #97 closed

[2018-04-17 09:59] error404notfound commented on #94
Is there a particular image that you would like to use?

[2018-04-17 11:51] NirantK commented on #94
@error404notfound No, we were fine with anything that meets the awesome.re guidelines.

[2018-04-20 11:43] NirantK commented on #98
Merging this #113 to streamline contributor attention

[2018-04-20 11:43] #98 closed

[2018-06-26 13:22] dileepmatha opened #136 "I have a list of tweets and want to represent each tweet in space in python? I want to represent each sentence as a dot?"

[2018-06-28 21:42] LanceNorskog opened #137 "Chazutsu is a Python library for reading standard text datasets"
I haven't tried it.

https://github.com/chakki-works/chazutsu

[2018-06-29 14:45] NirantK commented on #137
Hey, this looks good. Thanks for sharing @LanceNorskog.

I will try this myself and will include it here if it's good. Thanks!

[2018-06-29 16:57] the-ethan-hunt commented on #84
@NirantK , there has been no fresh leads on the issue. Any ideas to proceed further?

[2018-06-30 08:00] NirantK commented on #84
No, have stopped pursuing this. There has been no response on the old and new issues by the repo maintainer there.

We can try to raise a clean PR to that repo as per the [new issue](https://github.com/sindresorhus/awesome/issues/1236) and see if that get's accepted.

Else, close this issue please

[2018-07-01 18:01] the-ethan-hunt commented on #84
Sure. But before submitting another PR, we should maybe have a cover image first. Closing this issue nonetheless.

[2018-07-01 18:01] #84 closed

[2018-07-09 04:01] NirantK commented on #137
Hey @LanceNorskog, I think we will go ahead and include this. Since this is your find, I'd request you to raise a Pull Request. You can do that in-browser itself.

Closing this issue - look forward to seeing your PR :)

[2018-07-09 04:01] #137 closed

[2018-09-18 13:10] the-ethan-hunt commented on #113
@NirantK , regarding the shift of the language section to NLP-Progress as discussed in this [thread](https://github.com/sebastianruder/NLP-progress/issues/79), should I raise PRs for new resources here or at NLP-Progress?
Does it sound alright, @sebastianruder ? :sweat_smile:

[2018-09-18 13:14] NirantK commented on #113
@the-ethan-hunt

If there are performance numbers available, or high user trust in that lib - raise it directly at NLP-Progress.
If not, raise them there here for now.

There is a lot of work which does not have results. E.g. datasets, Python libs in Arabic/Hindi etc.
They are *good enough* for programmers quite often. We can discuss and sort those edge cases out.

[2018-09-18 13:16] sebastianruder commented on #113
Just to be clear: `awesome-nlp` should stay awesome, so we shouldn't remove anything from here from now and `awesome-nlp` should still be the place where libraries and tools, etc. are collected.
As @NirantK mentions, anything with reported results and standard evaluation setups can be added to `nlpprogress`.

[2018-09-25 03:43] aditya1359 commented on #127
In which model I have to add can you explain please

[2018-09-25 03:54] NirantK commented on #127
@aditya1359 all models are equally welcome :)

We are looking for more awesome implementations, which can range from production grade code to those meant for teaching/learning.

[2018-09-25 03:55] aditya1359 commented on #127
Thanks for the information sir

On Tue, 25 Sep 2018, 09:24 Nirant, <notifications@github.com> wrote:

[2018-09-28 05:38] Shashi456 commented on #113
@NirantK i think this library can be added as tool for indic languages
http://anoopkunchukuttan.github.io/indic_nlp_library/

[2018-09-28 05:45] NirantK commented on #113
Thanks for the hunt!

That was not included here because

- The core lib has not been updated in 4+ years, is still Py2.7 for some
reason
- Is not Unicode compliant for some reason?

I had some trouble installing it as well on Linux and Windows. In other
words, this is not awesome.

On Fri, 28 Sep 2018 at 11:08, Pawan Sasanka Ammanamanchi <
notifications@github.com> wrote:

[2018-09-28 05:45] Shashi456 commented on #113
also @NirantK I think [ACL 2018 highlights](http://ruder.io/acl-2018-highlights/) by Sebastian ruder should be added to the research trends and summaries

[2018-09-28 05:46] NirantK commented on #113
@Shashi456 please raise a MR for Ruder's highlights with a 1 line explanation and we'll review the same?

[2018-09-28 05:47] Shashi456 commented on #113
@NirantK do you know of any Indic libraries other than that, i've been scourging the internet for some but have found none satisfiable

[2018-09-28 05:53] NirantK commented on #113
One, I recall seeing few more like the one you mentioned above. The
recurring challenge being that almost none of them are Unicode compliant
and poorly maintained. 2 of them did not have a setup.py for installation.

Two, I have mostly worked with Hindi (e.g.
https://github.com/NirantK/hindi2vec/ )  - simple tokenization is solved
with 'space' splits and simple rules around word suffixes.

Three,

[2018-09-28 05:55] #96 closed

[2018-09-28 05:58] NirantK commented on #29
Added under Python libs section

[2018-09-28 05:58] #29 closed

[2018-09-28 06:09] NirantK commented on #43
This does not seem relevant to NLP a year later. @guotong1988 [this Quora question](https://www.quora.com/What-are-awesome-knowledge-graph-papers) might be of interest to you

[2018-09-28 06:09] #43 closed

[2018-09-28 20:00] NirantK commented on #94
Title: Calm Community
![1-awesome-nlp](https://user-images.githubusercontent.com/3250749/46230592-af5de380-c386-11e8-8d73-86f38e5942e3.JPG)
---
Title: Minimalist Charm
![2-awesome-nlp](https://user-images.githubusercontent.com/3250749/46230593-aff67a00-c386-11e8-9a38-7544ab716017.JPG)
---
Title: Emptiness
![3-awesome-nlp](https://user-images.githubusercontent.com/3250749/46230594-aff67a00-c386-11e

[2018-09-28 20:13] NirantK commented on #94
Asking this on Twitter as well now: https://twitter.com/NirantK/status/1045766491143114752

[2018-09-29 17:17] the-ethan-hunt commented on #94
The "calm community" one seems very attractive for our list

[2018-10-03 19:44] NirantK commented on #94
Both Calm Community and Minimalist Charm were liked on the [Twitter poll](https://twitter.com/NirantK/status/1045766494641164288).

Our new logo is live!

![Calm Community](https://user-images.githubusercontent.com/3250749/46434964-c596e580-c772-11e8-9d7d-036a40a3323e.JPG)

[2018-10-03 19:44] #94 closed

[2018-10-04 01:11] keon commented on #94
Thanks @NirantK !
I love the new logo.

[2018-10-04 05:01] NirantK commented on #94
Thanks @keon !

[2018-10-13 07:32] guillaume-chevalier commented on #127
Added one implementation: see #147. This implementation is purely practical (to load already trained vectors in an optimized way for the GPU in TensorFlow). The code is also written as a tutorial.

[2018-10-13 08:18] guillaume-chevalier commented on #113
Hello @NirantK, I made this project for clustering/topic extraction: https://github.com/ArtificiAI/Multilingual-Latent-Dirichlet-Allocation-LDA

It also contains a tutorial explaining the architecture: https://github.com/ArtificiAI/Multilingual-Latent-Dirichlet-Allocation-LDA/blob/master/Stemming-words-from-multiple-languages.ipynb

It also has unit tests.

All those languages are supported:
- Dan

[2018-10-13 13:35] NirantK commented on #113
@guillaume-chevalier that should go under Libraries -> Python. Please raise a PR. Great to see a multi-lingual clustering toolkit!

[2018-11-16 12:52] the-ethan-hunt opened #156 "Participation in open source coding programs"
These days, a lot of programs have been initiated by technical organizations to get students acquainted with open source. One such program is the [Kharagpur Winter of Code](https://kwoc.kossiitkgp.org/) held by KOSS, IIT Kharagpur in the month of December since last two years. I understand that `awesome-NLP` is a curated list but I believe we can benefit greatly from this program. I would like to

[2018-11-16 13:21] NirantK commented on #156
I am actually working on a small project where we release **code samples**.  If `awesome-nlp` is a curated list, that is more *Curated List of Code Samples in NLP*.

It covers some of the concepts and the libraries mentioned in `Awesome-NLP` as Jupyter notebooks. Do you think KOSS might help coverage there?

If yes, we can simply merge the two projects to `awesome-nlp` by adding a directory to thi

[2018-11-16 13:39] NirantK commented on #156
Sure, sounds great. I can help with what we want to do. It's basically for two tracks:

- Recipes: Most common paradigms e.g. [embed attend encode predict](https://explosion.ai/blog/deep-learning-formula-nlp) and approaches in non-Python, non-English languages.
- Evaluations: Setup automated evaluation (similar to Kaggle) for NLP tasks ranging from text classification to coreference resolution. Th

[2018-11-16 13:42] the-ethan-hunt commented on #156
Didn't get the evaluation idea properly: do you mean to setup a leaderboard with submissions on NLP tasks like Kaggle does on data science?

[2018-11-16 13:44] NirantK commented on #156
Yes, that'd be a good way to put it.

[2018-11-16 13:44] NirantK commented on #156
In fairness, I don't think `Evaluation` is a good fit for `awesome-nlp` . We should rather focus on Recipes here.

[2018-11-16 13:46] the-ethan-hunt commented on #156
Alright. But what if we don't abandon `Evaluation` altogether? How about we set up another repo for this?

[2018-11-16 14:09] NirantK commented on #156
If we are going to use another repo, might as well work with NLP Progress which maintains a leaderboard on a wide range of NLP Tasks. What do you think?

[2018-11-16 14:14] the-ethan-hunt commented on #156
Sounds good. But we need to ask @sebastianruder for that

[2018-11-16 14:16] NirantK commented on #156
Sure, I don't have the time to take `Evaluations` forward right now. You are free to reach out and coordinate with him.

[2018-11-16 14:17] the-ethan-hunt commented on #156
Great. So should we submit `awesome-nlp Recipes` as a project? Or an independent repo?

[2018-11-16 14:20] NirantK commented on #156
Awesome-NLP/recipes as a project

On Fri, 16 Nov 2018 at 19:47, Dhruv Apte <notifications@github.com> wrote:

[2018-11-16 14:45] sebastianruder commented on #156
That sounds exciting. You can include a link to a leaderboard on NLP Progress as long as the dataset is publicly available. Ping me again once you have something and we can see how it fits.

[2018-11-16 15:18] the-ethan-hunt commented on #156
Let's incorporate all the ideas we have on the project:
-  A new project on `awesome-NLP` for `Recipes`. This includes NLP approaches in Non-English languages
- A new repository will be created for `Evaluations`  or work from NLP Progress itself. I can take it forward and mentor it.  If working in an independent repo, after the program if @sebastianruder permits it, we can include it in NLP Progre

[2018-11-16 16:57] NirantK commented on #156
That sounds good @the-ethan-hunt. Let's focus on either one for the time being. Strictly from the point of view of utility, I think recipes are more useful to beginners and evaluations to practitioners.

Thanks for the support @sebastianruder  - will discuss if/when we do work on it. If you have an opinion of what might be more useful to you (and academic more broadly) - that'd be great.

[2018-11-19 13:39] NirantK commented on #156
@the-ethan-hunt - would you be taking the lead on this one?
If yes, it'd be great if we could sync over email or here and plan this better.

[2018-11-19 13:45] the-ethan-hunt commented on #156
Sure, I will be happy to. :smile:

[2018-12-02 02:00] knightcube commented on #127
So we can submit any model?
For eg) Dogs and cats image classifier in Pytorch maybe?

[2018-12-02 06:12] NirantK commented on #127
Err. No. Solutions to NLP Challenges.

On Sun 2 Dec, 2018, 07:30 Rajat Kumar Gupta <notifications@github.com wrote:

[2018-12-03 13:11] the-ethan-hunt opened #158 "Reproducing results of: A Decomposable Attention Model for Natural Language Inference for Hindi"
The paper link is [here](https://arxiv.org/abs/1606.01933).

P.S. There might arise the issue of finding a suitable Hindi dataset.

[2018-12-03 13:25] the-ethan-hunt opened #159 "Develop Hindi models for Tokenization,POS Tagging and NER"
Develop models for Hindi from the [IIT Bombay English Hindi Parallel Corpus](http://www.cfilt.iitb.ac.in/iitb_parallel/) using Cython/spaCy-multilingual.

[2018-12-03 13:43] the-ethan-hunt opened #160 "Reproduce Hierarchical Attention Networks for Document Classification for German"
[German NLP](https://github.com/adbar/German-NLP) is a curated list of German NLP resources including datasets.

P.S. This paper is one of the first to work on Embed, encode, attend, predict.

[2018-12-03 15:31] NirantK commented on #160
Hey @the-ethan-hunt are these new issues for the Recipe work we are doing with KWOC?
If yes, we should also label NLP Recipes or something similar.

[2018-12-03 15:34] NirantK commented on #158
You can make the dataset here [XNLI-MT-1.0](https://s3.amazonaws.com/xnli/XNLI-MT-1.0.zip) - 445Mb.

This has 15 languages. I'd like who so ever is doing this to implement the paper for all 15 languages, not just Hindi.

[2018-12-03 15:39] NirantK commented on #159
@the-ethan-hunt let's avoid using ancient languages, and instead focus on benchmarking existing methods on standardized corpora?

E.g. for tokenization/chunking in Hindi - you could try the MosesTokenizer, spaCy-multinlingual, Google's BERT-Tokenizer (Wordpiece under the hood), and sentencepiece.

I'd love it if we can raise a PR in Cython with Hindi models for Parts of Speech, Tokenization and NE

[2018-12-03 16:47] NirantK commented on #159
Please please don't implement this paper in particular. This is a bad unreliable paper.

I'd recommend emailing the author for datasets and trying rather modern approaches from say, spaCy and AllenNLP and share those results.

[2018-12-03 17:51] the-ethan-hunt commented on #160
Yes, @NirantK . I will add the `Recipes` tag. My bad forgot it.

[2018-12-03 17:52] the-ethan-hunt commented on #158
Great dataset @NirantK ! Perhaps contributors can start with one language and then relate its findings to another?

[2018-12-03 17:57] the-ethan-hunt commented on #159
@NirantK , I saw this paper in NLPProgress and wondered about reproducing it in Sanskrit. Anyways I would change it to Hindi itself as you have suggested.

[2018-12-03 21:46] NirantK commented on #127
A large fraction of NLP papers and their implementations (both PyTorch and Tensorflow) are already covered in [NLP-Progress](http://github.com/sebastianruder/NLP-progress).

Closing this issue, in favour of future contributions to that repository.

This does not mean that implementations are not important for Awesome-NLP. We will simply focus on more robust and tested ideas and code, instead of ju

[2018-12-09 14:35] the-ethan-hunt commented on #159
I have tried to research on this @NirantK  and have found some solutions; would it be better if we discuss in private?

[2018-12-10 06:46] NirantK commented on #159
@the-ethan-hunt Write to awesomenlp@nirantk.com ?

[2018-12-25 16:20] NirantK commented on #160
@the-ethan-hunt is there anyone going to be working on the Recipe related projects? If not, let's close these out and reduce some clutter.

[2019-01-02 06:06] NirantK commented on #160
.@the-ethan-hunt closing these `recipe` issues for now.

[2019-01-02 06:06] #160 closed

[2019-01-02 06:07] #159 closed

[2019-01-02 06:09] NirantK commented on #158
Closing for inactivity

[2019-01-02 06:09] #158 closed

[2019-01-04 23:53] nahidalam opened #165 "Adding research topic specific section"
Can we add research topic specific section? For example - What are the latest research in Question Answering?

[2019-01-05 05:49] NirantK commented on #165
Hey @nahidalam we already track the state of the art results at http://nlpprogress.com/

Is there something specific that you are looking for that I can help with?

[2019-01-06 16:10] NirantK commented on #165
Closing for now, please feel free to comment/reopen this issue if you'd like to discuss further

[2019-01-06 16:10] #165 closed

[2019-02-11 10:27] aditya-giri commented on #101
@NirantK did you take down the website? Can't reach it.

[2019-02-11 14:23] NirantK commented on #101
This repo never had a static website. What are you looking for?

On Mon 11 Feb, 2019, 15:57 Aditya Giridharan, <notifications@github.com>
wrote:

[2019-02-11 14:59] aditya-giri commented on #101
The one you linked in your comment. [This one](http://www.nirantk.github.io/awesome-project-ideas)

[2019-02-12 02:11] NirantK commented on #101
Check https://nirantk.com

On Mon 11 Feb, 2019, 20:29 Aditya Giridharan, <notifications@github.com>
wrote:

[2019-02-12 05:32] NirantK commented on #101
This is the specific URL for awesome-project-ideas: https://nirantk.com/awesome-project-ideas/

Closing this issue for now, since we don't intend to make a static website for awesome-nlp

[2019-02-12 05:32] #101 closed

[2019-02-12 05:33] NirantK commented on #156
Closing this for inactivity. @the-ethan-hunt  please do share any updates that you might have for us :)

[2019-02-12 05:33] #156 closed

[2019-03-27 16:43] NeroCube commented on #113
Hi @NirantK, I can support Traditional Chinese translation and I am currently working on [it](https://github.com/NeroCube/awesome-nlp/blob/master/README-zh-TW.md).
This is really awesome repo, hope more people can see.

[2019-03-28 03:19] NirantK commented on #113
Wow, this is fantastic @NeroCube! Can you please raise a PR with your translation?

[2019-03-28 06:24] NeroCube opened #172 "Traditional Chinese(zh-TW) language support"
Hi @keon  ,This is an awesome project.I hope more people can see .
I have completed the translation of Traditional Chinese and I have made a [PR](https://github.com/keon/awesome-nlp/pull/171).
May you add the Traditional Chinese version on this repo?

[2019-03-28 07:02] NirantK commented on #172
Done. Your PR is merged @NeroCube.

Thanks a ton for this amazing effort. I'm sure this will benefit thousands of Chinese readers!

Please do share this on Chinese social media!

[2019-03-28 07:02] #172 closed

[2019-03-28 16:12] NeroCube commented on #172
Thanks! I will do my best to let more Chinese users see this awesome project.

[2019-05-04 07:20] the-ethan-hunt opened #174 "Add Research Labs"
Considering the recent surge in NLP research, I propose the listing of some of the top labs that are carrying cutting-edge research in NLP (no endorsements, here) like Stanford NLP group, University of Edinburgh NLP group etc.

@NirantK how does this sound?

[2019-05-04 07:50] NirantK commented on #174
Sounds good. Raise a pull request? Mention their recent work/ticket to fame
as well?

On Sat 4 May, 2019, 12:50 Dhruv Apte, <notifications@github.com> wrote:

[2019-05-29 04:09] NirantK commented on #174
Merged #176

[2019-05-29 04:09] #174 closed

[2019-06-11 13:26] goru001 commented on #113
@NirantK Do you think adding links to repos [NLP for Hindi](https://github.com/goru001/nlp-for-hindi), [NLP for Punjabi](https://github.com/goru001/nlp-for-punjabi) , [NLP for Sanskrit](https://github.com/goru001/nlp-for-sanskrit), [NLP for Gujarati](https://github.com/goru001/nlp-for-gujarati), [NLP for Kannada](https://github.com/goru001/nlp-for-kannada), [NLP for Malayalam](https://github.com/g

[2019-06-11 15:16] NirantK commented on #113
We already have iNLTK, which in turn links to all of the above.

Maybe not add all of them? This might get spammy.

[2019-06-11 15:48] goru001 commented on #113
Yes okay! That seems right! Thanks!

[2019-08-02 15:19] amir-zeldes opened #188 "Another NLP tool"
@NirantK I thought I would check before submitting another PR – would the following NLP tool fit the list?

https://github.com/amir-zeldes/RFTokenizer

It is a trainable subword tokenizer for morphologically rich languages, such as Afro-Asiatic languages. It comes with pre-trained models for Arabic, Hebrew and Coptic, supports Python 2-3 and is installable from PyPI. Current performance is SOA on

[2019-08-03 06:35] NirantK commented on #188
Sure. We could add these to language specific tools in Arabic to begin with.

I'd love to see a comparison/benchmarking against more popular tokenizers like Moses or sentencepiece/Wordpiece on your chosen/standard datasets.

If it is indeed SoA, should also add to http://nlpprogress.com/

[2019-08-03 08:58] amir-zeldes commented on #188
Great, I'll do that then!

About comparison with other tools: I was under the impressions that Moses just does word form tokenization, not division into morphological subword tokens, but if there is a way to do subtoken segmentation, please let me know.

My understanding of WordPiece is that it finds subword segments in an unsupervised way from very large amounts of data, including pieces that may

[2019-08-03 08:58] #188 closed

[2019-09-04 05:38] loudinthecloud opened #192 "Suggestion"
Hi @keon

I'm the author of [Curated Papers](https://www.curatedpapers.com/) a website solely designed for managing, curating and interacting with curated lists of academic papers, projects, links, etc. I saw your list and thought it could be  a great addition to the website, are you willing to give it a try? Currently CP is pre-launched but it is available online and I'm working on adding high qu

[2019-09-09 08:24] #192 closed

[2019-09-09 08:26] NirantK commented on #113
Thank you everyone who has contributed to the multiple languages work, here on Awesome-NLP. While we continue to welcome the contributions along similar lines, we have some sort of coverage now.

I'm closing this issue for now. We will open new issues to encourage specific discussions.

[2019-09-09 08:26] #113 closed

[2019-11-25 05:17] dvatsal opened #206 "Any support for Gujarati"
Any support for Gujarati? I think you are from Surat hence thought some support might be there for Gujarati as well

[2019-11-25 05:20] NirantK commented on #206
What are you looking for exactly?

We already list
- StanfordNLP
- iNLTK ->https://github.com/goru001/nlp-for-gujarati

Both of these cover the most cases for Gujarati in addition to LASER and fasttext.

I don't see any explicit work in Gujarati, like translation.

[2019-11-25 05:31] dvatsal commented on #206
I am looking for something like word2vec, etc if you are aware of any

[2019-11-25 05:32] mapmeld commented on #206
@dvatsal There are Gujarati word embeddings in [FastText](https://fasttext.cc/docs/en/pretrained-vectors.html) and in [Multilingual BERT](https://github.com/google-research/bert/blob/master/multilingual.md)

[2019-11-25 05:34] dvatsal commented on #206
Thanks @mapmeld

[2019-11-25 05:36] NirantK commented on #206
Thanks @mapmeld!

Closing the issue @dvatsal since this seems to be resolved for now

[2019-11-25 05:36] #206 closed

[2019-12-13 01:32] LifeIsStrange opened #210 "Add standfordNLP (python)"
https://github.com/stanfordnlp/stanfordnlp

[2019-12-13 01:34] LifeIsStrange opened #211 "Add the best state of the art reference"
https://paperswithcode.com/area/natural-language-processing

[2019-12-13 03:45] NirantK commented on #210
Please raise a Pull Request?

[2019-12-13 03:45] #210 closed

[2019-12-13 03:48] NirantK commented on #211
We're not interested in chasing SoTA.

We're interested in tools and resources for you to ship your NLP software.

Perhaps, raise this with nlpprogress.com

[2019-12-13 03:48] #211 closed

[2019-12-26 06:08] guotong1988 opened #213 "Which kind of model is better for keyword-set classification?"
There exists a similar task that is named text classification.

But I want to find a kind of model that the inputs are keyword set. And the keyword set is not from a sentence.

Thank you.

[2019-12-26 06:48] NirantK commented on #213
Can you give an example of this kind of problem?

What do you mean by keyword? And why can you not do a direct lookup in your target corpus?

[2019-12-26 07:03] guotong1988 commented on #213
1,
input ["apple", "pear", "water melon"] --> target class "fruit"
input ["tomato", "potato"] --> target class "vegetable"

2,
I want find the better model.

[2019-12-26 11:22] NirantK commented on #213
You need a WordNet ontology. This is not a text classification problem.

I am not sure if this is the right forum to ask for help around this.

[2019-12-26 11:22] #213 closed

[2021-03-12 04:45] SOUMEE2000 opened #256 "Broken link on readme.md"
Link for the University of Pennsylvania research group under prominent NLP research groups seems to be broken

[2021-06-06 11:51] saxenastar opened #263 "Nlp"

[2021-08-11 07:55] maiiabocharova opened #268 "Grouping entites"
I am sorry, I know this is not an issue, but I don't know where to ask it.

I have a task to group entities together: I have a chemical and its characteristics, I am parsing them using NER and quality is OK, but I don't know how to group each chemical with corresponding characteristics (I don't even how the task is called). I can write some rules, that characteristics which appear after the chemic

[2022-01-17 22:51] jyguyomarch commented on #256
@SOUMEE2000 it might have been fixed in the meantime. Both are working for me:

- https://nlp.cis.upenn.edu/
- https://www.seas.upenn.edu/~pdtb/

[2022-03-19 13:11] #263 closed

[2022-05-27 11:33] TwoDeen opened #280 "NLP in Japanese"
Where is NLP in Japanese?

[2022-06-14 13:39] taishi-i commented on #280
Hi @TwoDeen. I sent [a pull request](https://github.com/keon/awesome-nlp/pull/282) for adding NLP in Jpanese Section. If you are interested in Japanese NLP, see also this awesome list - [awesome-japanese-nlp-resources](https://github.com/taishi-i/awesome-japanese-nlp-resources). Thanks!

[2022-06-14 13:49] TwoDeen commented on #280
おめでとうございました｡
thank you very much!